@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Titulo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="@ViewBag.Descricao">
    <meta name="author" content="@Config.GetSection("Url").Value">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <!--[if lt IE 9]>
        <script src="/v1/js/respond.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700%7CMontserrat:400,500,600,700" rel="stylesheet">
    <link href="/v1/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="/v1/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="/v1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/v1/css/style.css" rel="stylesheet">
    <link href="/v1/css/plugins.css" rel="stylesheet">
    <link href="/v1/styles/maincolors.css" rel="stylesheet">
    <link rel="stylesheet" href="/v1/vendor/layerslider/css/layerslider.css">
    @RenderSection("styles", false)
</head>
<body id="top">
    <div id="preloader">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="preloader-logo">
                    <img src="/v1/img/logo.png" alt="" class="img-fluid">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="main-nav" class="navbar-expand-xl fixed-top">
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="contact-details float-start">
                            <li><i class="fa fa-envelope"></i><a href="mailto:contato@paranimal.com.br">contato@paranimal.com.br</a></li>
                            <li><i class="fa fa-phone"></i><a href="https://wa.me/+5561998230801" target="_blank">(61) 99823-0801</a></li>
                        </ul>
                        <ul class="social-list float-end list-inline">
                            <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/para.animaisdomesticos" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/para.animal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar container-fluid">
            <div class="container ">
                <a class="nav-brand" asp-controller="Home" asp-action="Index">
                    <img src="/v1/img/logo.png" alt="" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li id="home" class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li id="sobre" class="nav-item"><a class="nav-link" asp-controller="Post" asp-action="Sobre">Sobre</a></li>
                        <li id="servicos" class="nav-item"><a class="nav-link" asp-controller="Post" asp-action="Servicos">Serviços</a></li>
                        <li id="mural" class="nav-item"><a class="nav-link" asp-controller="Depoimento" asp-action="Index">Mural da Saudade</a></li>
                        <li id="faleconosco" class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="FaleConosco">Fale Conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    @RenderBody()

    <footer class="bg-light pattern1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center my-auto">
                    <img src="/v1/img/logo.png" class="logo-footer img-fluid" alt="">
                    <ul class="social-list text-center list-inline">
                        <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/para.animaisdomesticos" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        @* <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li> *@
                        <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/para.animal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5>Paraíso Animal</h5>
                    <hr class="small-divider left">
                    <p class="mt-3">Um lugar para devolver à Natureza, com dignidade, um ente querido com o qual ela nos presenteou e que nos deu atenção, amor e muito carinho.</p>
                </div>
                <div class="col-lg-5">
                    <h5>Contatos</h5>
                    <hr class="small-divider left">
                    <ul class="list-unstyled mt-3 linkPreto">
                        <li class="mb-1"><i class="fas fa-phone margin-icon "></i><a href="https://wa.me/+5561998230801" target="_blank">(61) 99823-0801</a></li>
                        <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:contato@paranimal.com.br">contato@paranimal.com.br</a></li>
                        <li><i class="fas fa-map-marker margin-icon"></i><a href="https://maps.app.goo.gl/afawVuoorFyCSffK9" target="_blank">Chácara 898 E Rua 21, S/N, Núcleo Rural Lago Oeste</a> </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="credits col-sm-12">
                    <p>Copyright 2021 - @DateTime.Today.Year / Desenvolvido por <a href="https://www.idevweb.com.br" target="_blank">Criação de Sites em Brasília</a></p>
                </div>
            </div>
        </div>
        <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>
<div class="modal" id="modalAdm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
                </div>
                <div class="modal-body">
                    <iframe width="99.6%" src="/carregando.html" frameborder="0" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="modalConfirm" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <h5 class="modal-title">Atenção!</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="btnConfirme"></button>
                    <button type="button" data-dismiss="modal" class="btn" id="btnCancelar"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="/v1/vendor/jquery/jquery.min.js"></script>
    <script src="/v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/v1/js/custom.js"></script>
    <script src="/v1/js/plugins.js"></script>
    <script src="/v1/js/prefixfree.min.js"></script>
    <script src="/v1/js/counter.js"></script>
    <script src="/v1/js/map.js"></script>
    <script src="/v1/vendor/layerslider/js/greensock.js"></script>
    <script src="/v1/vendor/layerslider/js/layerslider.transitions.js"></script>
    <script src="/v1/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/v1/vendor/layerslider/js/layerslider.load.js"></script>
    <script src="/v1/js/mascara.js"></script>
    <script src="/v1/js/maskfunction.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
