@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@{
    var codigo = Context.Request.Host.Host.Contains("certidaonegativaonline") ? "KSTPW8MZ" : "PLQPQ8QJ";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Titulo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="@ViewBag.Descricao">
    <meta name="author" content="@Config.GetSection("Url").Value">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <!--[if lt IE 9]>
        <script src="/v1/js/respond.js"></script>
    <![endif]-->
    <link href="/v1/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="/v1/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="/admin/css/spinners.css" rel="stylesheet" />
    <link href="/admin/css/animate.css" rel="stylesheet" />
    <link href="/v2/css/bootstrap.css" rel="stylesheet" />
    <link href="/v2/css/site.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSTPW8MZ');</script>

</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSTPW8MZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label text-center">Carregando,<br />Aguarde por gentileza...</p>
        </div>
    </div>

    @RenderBody()

    <script src="/v1/vendor/jquery/jquery.min.js"></script>
    <script src="/v2/js/bootstrap.bundle.js"></script>
    <script src="/admin/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="/admin/libs/sweetalert2/sweet-alert.init.js"></script>
    <script src="/v1/js/mascara.js"></script>
    <script src="/v1/js/maskfunction.js"></script>
    <script src="/v1/js/wow.js"></script>
    <script src="/v1/js/jquery.waypoints.js"></script>
    <script src="/v1/js/jquery.counterup.js.js"></script>
    <script src="/v1/js/counter.js"></script>
    <script src="/admin/validation.js"></script>
    <script src="/admin/libs/moment/moment.js"></script>
    <script src="/admin/Geral.js"></script>
    @RenderSection("scripts", false)
    <script>
        new WOW().init();

        $('.numero').counterUp({
            delay: 5,
            time: 5000
        });
    </script>
    <!-- Start of certidaonegativa Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=93edede1-1ac9-462c-b3ff-d81cfc1ffd73"> </script>
    <!-- End of certidaonegativa Zendesk Widget script -->
</body>

</html>
